<!DOCTYPE HTML>
<html lang="es">

	<head>
	<meta charset="utf-8" />
		<title>

			{% block titulo %} Inicio{% endblock %} - CRUD DE CATEGORÍA Y PRODUCTO

	 	</title>

	</head>

	<body>
		<div id="header">

			{% block cabecera %}

				<h1>Cabazera de plantilla </h1>

			{% endblock %}
			<hr>
		</div>
		
		<section id="content">

			{% block contenido %}

				<p> Contenido por defecto</p>


			{% endblock %}

		</section>	

		<footer>
			<hr>
			Pie de pagina	

		</footer>

	</body>

</html>	