{% extends 'base.html.twig' %}

{% block title %}

	{% if edit is defined %}

		Editar Producto✅

	{%else%}
		Crear Producto✅	
	
	{%endif%}


{% endblock %}

{% block body %}


<div class="example-wrapper">
	<h2>	

		{% if edit is defined %}

			Editar Producto✅</h2>
		
		{%else%}
		
			<h2>Crear Producto✅</h2>	
		
		{%endif%}

	    {{ form_start(form) }}
	    {{ form_widget(form) }}
	    {{ form_end(form) }}
	<h2>	   

</div>
{% endblock %}
